<html ng-app="StationApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Farmácias</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <script src="javascripts/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="favicon.ico" rel="shortcut icon" />
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    This is<%= title %>
                </p>
            </div>
        </div>
    </header>

    <main class="row row-main-content no-margin">
        <nav class="col-md-2 col-xs-12 col-sm-12 no-padding">
            <ul id="menu" class="nav nav-pills nav-stacked">
                <li> 
                    <a href="#">Enter</a>
                </li>
            </ul>
        </nav>
        <section class="content-wrapper main-content clear-fix col-md-10 col-xs-12 col-sm-12">
            <div ui-view></div>
        </section>
    </main>

</body>
</html>