/* variables */

$navfont: 'Montserrat', sans-serif;
$basefont: "Segoe UI", Verdana, Helvetica, Sans-Serif;
$primarycolor: #337ab7;
$debug: false;
$default-trans-time: 0.5s;
$default-trans-prop: all;
$default-trans-type: linear;

/*placeholder, mixins*/

@mixin debug-border($debugFlag){
    @if $debugFlag == true {
        border: 1px solid red;
    } @else{
        border:0;
    }
}

@mixin border-radius-mix($rad: 75px){
    -moz-border-radius: $rad;
    -webkit-border-radius: $rad;
    -o-border-radius: $rad;
    border-radius: $rad;
    behavior: url(PIE.htc);
}

@mixin full-height{
    height: 100%;
}

@mixin full-width{
    width: 100%;
}

@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@mixin custom-transition($time, $type, $prop) {
    -moz-transition: $time $type $prop;
    -o-transition: $time $type $prop;
    -webkit-transition: $time $type $prop;
    transition: $time $type $prop;
}

@mixin no-margin($side) {
    @if $side == 'sides' {
        .no-margin-lateral {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    } @else if $side == 'all' {
        .no-margin{
            margin: 0 !important;
        }
    }
    @else {
        .no-margin-#{$side} {
            margin-#{$side}: 0 !important;
        }
    }
}

@include no-margin(sides);
@include no-margin(all);
@include no-padding(all);
@include no-padding(left);
@include no-padding(right);
